In [1]:

%run ../load_magic/storage.py
%run ../load_magic/dataframes.py
%run ../load_magic/lists.py
from bs4 import BeautifulSoup as bs
import networkx as nx
import re
import urllib.request
%pprint
%who

Pretty printing has been turned OFF
SequenceMatcher	 Storage	 bs	 check_4_doubles	 check_for_typos	 conjunctify_nouns	 csv	 encoding	 example_iterrows
filepath_regex	 get_column_descriptions	 get_max_rsquared_adj	 get_page_tables	 io	 math	 nx	 os	 pd
pickle	 plt	 re	 similar	 sm	 sns	 stats	 sys	 time
url_regex	 urllib

In [2]:

tables_url = 'http://www.timepage.org/spl/presidents.html'
df_list = get_page_tables(tables_url)

[(1, (13, 5)), (2, (4, 3)), (0, (1, 3)), (3, (1, 3)), (4, (1, 3))]

In [4]:

df_list[1]

,0,1,2,3,4
0,Eras,Idealists,Reactives,Civics,Adaptives
1,Era of Good Feeling (1788-1821),NaN,"1788,1792 - George Washington 1796 - John Adams","1800,1804 - Thomas Jefferson 1808,1812 - Jame...",NaN
2,Transcendental Awakening (1822-1837),NaN,NaN,NaN,"1824 - John Q. Adams 1828,1832 - Andrew Jacks..."
3,Era of Slavery Expansion (1838-1859),1844 - James Polk 1850 - Millard Fillmore 18...,NaN,NaN,1840 - William Harrison 1841 - John Tyler 18...
4,Civil War Era (1860-1865),"1860,1864 - Abraham Lincoln 1865 - Andrew Joh...",NaN,NaN,NaN
5,Gilded Age (1866-1885),NaN,"1868,1872 - Ulysses Grant 1876 - Rutherford H...",NaN,NaN
6,Missionary Awakening (1886-1909),NaN,1888 - Benjamin Harrison 1892 - Grover Cleveland,NaN,"1896,1900 - William McKinley 1901,1904 - Theo..."
7,WWI/Prohibition Era (1910-1929),"1920 - Warren Harding 1923,1924 - Calvin Cool...",NaN,NaN,"1912,1916 - Woodrow Wilson"
8,Depression/WWII Era (1930-1944),"1932,1936,1940,1944 - Franklin Roosevelt",NaN,NaN,NaN
9,Era of Super Power America (1945-1965),NaN,"1945,1948 - Harry Truman 1952,1956 - Dwight E...","1960 - John Kennedy 1963,1964 - Lyndon Johnson",NaN
10,Boom Awakening (1966-1981),NaN,NaN,"1968,1972 - Richard Nixon 1974 - Gerald Ford ...",NaN
11,Information Age (1981-2001),"1992,1996 - William J. Clinton 2000 - George ...",NaN,1984 - Ronald Reagan 1988 - George H. W. Bush,NaN
12,Power Down Era? (2002-Now),2004 - George W. Bush,2008 - Barack H. Obama,NaN,NaN

In [5]:

tables_url = 'https://houseofcards.fandom.com/wiki/List_of_Presidents_of_the_United_States_by_date_of_birth'
df_list = get_page_tables(tables_url)

[(0, (75, 10)), (1, (19, 10)), (3, (13, 6)), (2, (18, 4)), (4, (20, 2)), (5, (18, 2))]

In [6]:

df_list[3]

,Generation,OB,Name,OO,Deaths,Century
0,Liberty Generation (1724–1741),1 2,George Washington John Adams,1 2,None,18th century
1,Republican Generation (1742–1766),3,Thomas Jefferson,3,None,18th century
2,Transcendental Generation (1792–1821),16,Abraham Lincoln,16,George Washington (1799),18th century/19th century
3,Compromise Generation (1767–1791),6 7,Andrew Jackson John Quincy Adams,7 6,None,18th century
4,Civil War Generation (1822–1842),NaN,NaN,NaN,John Adams (1826) Thomas Jefferson (1826),19th century
5,Progressive Generation (1843–1859),27 25,Theodore Roosevelt Woodrow Wilson,26 28,Andrew Jackson (1845) John Quincy Adams (1848),19th century
6,Missionary Generation (1860–1882),31,Franklin D. Roosevelt,32,Abraham Lincoln (1865),19th century
7,World War I Generation (1883–1900),32,Harry Truman,33,NaN,19th century
8,World War II Generation (1910–1926),38 34 40 35 39,John F. Kennedy Lyndon Johnson Jimmy Carter Ro...,35 36 39 40 41,Theodore Roosevelt (1919) Woodrow Wilson (1924),20th century
9,Silent Generation (1927–1945),NaN,NaN,NaN,Franklin D. Roosevelt (1945),20th century
10,Baby Boom Generation (1946–1964),41 42 46 45,George W. Bush Bill Clinton Garrett Walker Fra...,43 42 45 46,John F. Kennedy (1963),20th century
11,Generation X (1965–1980),NaN,NaN,NaN,Lyndon B. Johnson (1973) Harry S Truman (1972),20th century
12,Generation AO (2000-2020),NaN,NaN,NaN,Ronald W. Reagan (2004),21st Century

In [7]:

tables_url = 'https://en.wikipedia.org/wiki/List_of_presidents_of_the_United_States_by_home_state'
df_list = get_page_tables(tables_url)

[(0, (47, 5)), (2, (45, 3)), (1, (35, 3)), (3, (19, 3)), (4, (14, 2)), (5, (2, 2))]

In [34]:

from datetime import datetime
from datetime import date
import numpy as np

s = Storage()
birth_regex = re.compile('([^/†]+/)?([^/†]+)†?')
def f(row_series):
    state_of_birth = row_series['state_of_birth']
    match_obj = birth_regex.search(state_of_birth)
    if match_obj:
        state_of_birth = match_obj.group(2)
    
    return state_of_birth

date_or = '|'.join([date(1900, x+1, 1).strftime('%B') for x in range(12)])
regex_str = r'\((\d+)\w+\) +({}) +(\d+), +(\d+) +– +(({}) +(\d+), +(\d+)|Incumbent)'.format(date_or, date_or)
states_regex = re.compile(regex_str)
def g(row_series):
    in_office = row_series['in_office']
    office_rank = np.nan
    reign_begin = np.nan
    reign_end = np.nan
    match_obj = states_regex.search(in_office)
    if match_obj:
        office_rank = match_obj.group(1)
        in_month = match_obj.group(2)
        in_day = match_obj.group(3)
        in_year = match_obj.group(4)
        reign_begin = datetime.strptime('{} {}, {}'.format(in_month, in_day, in_year), '%B %d, %Y')
        incumbent_str = match_obj.group(5)
        if incumbent_str != 'Incumbent':
            out_month = match_obj.group(6)
            out_day = match_obj.group(7)
            out_year = match_obj.group(8)
            reign_end = datetime.strptime('{} {}, {}'.format(out_month, out_day, out_year), '%B %d, %Y')
    row_series['office_rank'] = office_rank
    row_series['reign_begin'] = reign_begin
    row_series['reign_end'] = reign_end
    
    return row_series

#[fn for fn in dir(pd) if 'x' in fn.lower()]
us_presidents_df = df_list[0].copy().drop([45, 46])
us_presidents_df['Date of birth'] = us_presidents_df['Date of birth'].map(lambda x: datetime.strptime(x.replace('*', ''), '%B %d, %Y'))
us_presidents_df.columns = ['date_of_birth', 'President', 'birthplace', 'state_of_birth', 'in_office']
us_presidents_df = us_presidents_df.set_index('President')
us_presidents_df['state_of_birth'] = us_presidents_df.apply(f, axis=1)
us_presidents_df['office_rank'] = np.nan
us_presidents_df['reign_begin'] = np.nan
us_presidents_df['reign_end'] = np.nan
us_presidents_df = us_presidents_df.apply(g, axis=1)
columns_list = ['date_of_birth', 'birthplace', 'state_of_birth', 'office_rank', 'reign_begin', 'reign_end']
us_presidents_df = us_presidents_df[columns_list]
us_presidents_df.loc['Joseph R. Biden', 'office_rank'] = 46
us_presidents_df.loc['Joseph R. Biden', 'reign_begin'] = us_presidents_df.loc['Donald Trump', 'reign_end']
s.store_objects(us_presidents_df=us_presidents_df)
us_presidents_df.sample(5)

Pickling to D:\Documents\GitHub\Strauss-Howe\saves\pickle\us_presidents_df.pickle

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end
President,,,,,,
John F. Kennedy,1917-05-29,Brookline,Massachusetts,35,1961-01-20,1963-11-22
Lyndon B. Johnson,1908-08-27,Stonewall,Texas,36,1963-11-22,1969-01-20
James K. Polk,1795-11-02,Pineville,North Carolina,11,1845-03-04,1849-03-04
Ulysses S. Grant,1822-04-27,Point Pleasant,Ohio,18,1869-03-04,1877-03-04
George Washington,1732-02-22,Westmoreland County,Virginia,1,1789-04-30,1797-03-04

In [35]:

us_presidents_df

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end
President,,,,,,
George Washington,1732-02-22,Westmoreland County,Virginia,1,1789-04-30,1797-03-04
John Adams,1735-10-30,Braintree,Massachusetts,2,1797-03-04,1801-03-04
Thomas Jefferson,1743-04-13,Shadwell,Virginia,3,1801-03-04,1809-03-04
James Madison,1751-03-16,Port Conway,Virginia,4,1809-03-04,1817-03-04
James Monroe,1758-04-28,Monroe Hall,Virginia,5,1817-03-04,1825-03-04
Andrew Jackson,1767-03-15,Waxhaws Region,South Carolina,7,1829-03-04,1837-03-04
John Quincy Adams,1767-07-11,Braintree,Massachusetts,6,1825-03-04,1829-03-04
William Henry Harrison,1773-02-09,Charles City County,Virginia,9,1841-03-04,1841-04-04
Martin Van Buren,1782-12-05,Kinderhook,New York,8,1837-03-04,1841-03-04
Zachary Taylor,1784-11-24,Barboursville,Virginia,12,1849-03-04,1850-07-09
John Tyler,1790-03-29,Charles City County,Virginia,10,1841-04-04,1845-03-04
James Buchanan,1791-04-23,Cove Gap,Pennsylvania,15,1857-03-04,1861-03-04
James K. Polk,1795-11-02,Pineville,North Carolina,11,1845-03-04,1849-03-04
Millard Fillmore,1800-01-07,Summerhill,New York,13,1850-07-09,1853-03-04
Franklin Pierce,1804-11-23,Hillsborough,New Hampshire,14,1853-03-04,1857-03-04
Andrew Johnson,1808-12-29,Raleigh,North Carolina,17,1865-04-15,1869-03-04
Abraham Lincoln,1809-02-12,Hodgenville,Kentucky,16,1861-03-04,1865-04-15
Ulysses S. Grant,1822-04-27,Point Pleasant,Ohio,18,1869-03-04,1877-03-04
Rutherford B. Hayes,1822-10-04,Delaware,Ohio,19,1877-03-04,1881-03-04
Chester A. Arthur,1829-10-05,Fairfield,Vermont,21,1881-09-19,1885-03-04
James A. Garfield,1831-11-19,Moreland Hills,Ohio,20,1881-03-04,1881-09-19
Benjamin Harrison,1833-08-20,North Bend,Ohio,23,1889-03-04,1893-03-04
Grover Cleveland,1837-03-18,Caldwell,New Jersey,22,1885-03-04,1889-03-04
William McKinley,1843-01-29,Niles,Ohio,25,1897-03-04,1901-09-14
Woodrow Wilson,1856-12-28,Staunton,Virginia,28,1913-03-04,1921-03-04
William Howard Taft,1857-09-15,Cincinnati,Ohio,27,1909-03-04,1913-03-04
Theodore Roosevelt,1858-10-27,Manhattan,New York,26,1901-09-14,1909-03-04
Warren G. Harding,1865-11-02,Blooming Grove,Ohio,29,1921-03-04,1923-08-02
Calvin Coolidge,1872-07-04,Plymouth,Vermont,30,1923-08-02,1929-03-04
Herbert Hoover,1874-08-10,West Branch,Iowa,31,1929-03-04,1933-03-04
Franklin D. Roosevelt,1882-01-30,Hyde Park,New York,32,1933-03-04,1945-04-12
Harry S. Truman,1884-05-08,Lamar,Missouri,33,1945-04-12,1953-01-20
Dwight D. Eisenhower,1890-10-14,Denison,Texas,34,1953-01-20,1961-01-20
Lyndon B. Johnson,1908-08-27,Stonewall,Texas,36,1963-11-22,1969-01-20
Ronald Reagan,1911-02-06,Tampico,Illinois,40,1981-01-20,1989-01-20
Richard Nixon,1913-01-09,Yorba Linda,California,37,1969-01-20,1974-08-09
Gerald Ford,1913-07-14,Omaha,Nebraska,38,1974-08-09,1977-01-20
John F. Kennedy,1917-05-29,Brookline,Massachusetts,35,1961-01-20,1963-11-22
George H. W. Bush,1924-06-12,Milton,Massachusetts,41,1989-01-20,1993-01-20
Jimmy Carter,1924-10-01,Plains,Georgia,39,1977-01-20,1981-01-20
Joseph R. Biden,1942-11-20,Scranton,Pennsylvania,46,2021-01-20,NaT
Donald Trump,1946-06-14,Queens,New York,45,2017-01-20,2021-01-20
George W. Bush,1946-07-06,New Haven,Connecticut,43,2001-01-20,2009-01-20
Bill Clinton,1946-08-19,Hope,Arkansas,42,1993-01-20,2001-01-20
Barack Obama,1961-08-04,Honolulu,Hawaii,44,2009-01-20,2017-01-20

In [22]:

generations_df = s.load_object('generations_df')
def g(row_series):
    year_of_birth = row_series['date_of_birth'].year
    mask_series = (generations_df['birth_year_begin'] <= year_of_birth) & (generations_df['birth_year_end'] >= year_of_birth)
    generation_name_list = generations_df[mask_series].index.tolist()
    if len(generation_name_list):
        generation_name = generation_name_list[0]
    else:
        generation_name = np.nan
    
    return generation_name

us_presidents_df['generation_name'] = us_presidents_df.apply(g, axis=1)
s.store_objects(us_presidents_df=us_presidents_df)
us_presidents_df.sample(5)

Pickling to D:\Documents\GitHub\Strauss-Howe\saves\pickle\us_presidents_df.pickle

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end,generation_name
President,,,,,,,
Woodrow Wilson,1856-12-28,Staunton,Virginia,28,1913-03-04,1921-03-04,Progressive
Millard Fillmore,1800-01-07,Summerhill,New York,13,1850-07-09,1853-03-04,Transcendental
Franklin D. Roosevelt,1882-01-30,Hyde Park,New York,32,1933-03-04,1945-04-12,Missionary
James K. Polk,1795-11-02,Pineville,North Carolina,11,1845-03-04,1849-03-04,Transcendental
Theodore Roosevelt,1858-10-27,Manhattan,New York,26,1901-09-14,1909-03-04,Progressive

In [23]:

generations_df.sample(5).T

generation_name,Republican,Enlightenment,Parliamentary,Gilded,Compromise
childhood_turning_entered,3,4,4,2,4
saeculum_name,Revolutionary,New World,Reformation,Civil War,Revolutionary
turnings_archetype,Hero,Artist,Artist,Nomad,Artist
generations_archetype,Civic,Adaptive,Adaptive,Reactive,Adaptive
birth_year_begin,1742,1674,1566,1822,1767
birth_year_end,1766.0,1700.0,1587.0,1842.0,1791.0
childhood_turning_description,"French and Indian War, British Imperialism","Salem Witch Trials, King Philip's War, Gloriou...",Armada Crisis,"Transcendental Awakening, Romanticism, Aboliti...","American Revolution, Age of Revolution"
turning_year_begin,1746,1675,1569,1822,1773
turning_year_end,1773.0,1704.0,1594.0,1844.0,1794.0

In [25]:

patriline_df = s.load_object('patriline_df')
patriline_df.sample(5).T

patriarch_name,Edward Bobet,"(No Name), Jr.",Thomas Bobbet,"Elkanah Babbitt, II","(No Name), Sr."
year_of_birth,1626,1550,1584,1690,1518
year_of_death,1675.0,1624.0,1636.0,1754.0,1585.0
generation_name,Cavalier,Elizabethan,Parliamentary,Enlightenment,Reprisal
date_of_birth,1626,1550,"October 25, 1584","April 22, 1690",estimated between 1485 and 1545
place_of_birth,England,Unknown Place of Birth,"Coney Weston, Suffolk, England, United Kingdom","Berkley, Bristol County, New Plymouth Colony",Unknown Place of Birth
birth_longitude,52.82131,NaN,52.3603,41.75582,NaN
birth_latitude,-4.57017,NaN,0.87089,-70.806832,NaN
date_of_death,"June 25, 1675 (49)","April 01, 1624 (74)",1636 (51),"April 01, 1754 (63)",Unknown Date of Death
place_of_death,"Berkley Bridge, Near Taunton, Plymouth Colony ...",Unknown Place of Death,"Norfolk, England, United Kingdom","Berkley, Bristol County, Province of Massachsutts",Unknown Place of Death
death_longitude,41.83345,NaN,52.674122,41.825963,NaN
death_latitude,-71.114911,NaN,0.669334,-71.098826,NaN
saeculum_name,New World,Reformation,Reformation,New World,Reformation
xkcd_color,xkcd:green,xkcd:pink,xkcd:pale pink,xkcd:bright green,xkcd:pig pink
css4_color,chartreuse,firebrick,red,lime,tomato
xkcd_text_color,white,black,black,white,black
css4_text_color,black,white,white,black,black
map_link,https://goo.gl/maps/Uofh9Kf41xj1theA8,NaN,https://goo.gl/maps/Bh4L47JU27i4QcKN6,https://goo.gl/maps/7mp4RZJ5K3N1nopz8,NaN
birth_coordinates,"-4.57017,52.82131,0",NaN,"0.8708900000000001,52.3603,0","-70.80865,41.75557,0",NaN
archetype_name,Nomad,Hero,Artist,Artist,Nomad

In [2]:

s = Storage()
turnings_df = s.load_object('turnings_df')
turnings_df.sample(5).T

turning_name,Intolerance and Martyrdom,The Armada Crisis,The Era of Good Feelings,Reaction and Restoration,The colonial Glorious Revolution
turning_number,3,4,1,3,4
turning_year_begin,1542,1569,1794,1649,1675
turning_year_end,1569,1594,1822,1675,1704
saeculum_name,Tudor,Tudor,Civil War,New World,New World
entering_elderhood,Humanists,Reformation,Liberty,Parliamentarians,Puritans
entering_midlife,Reformation,Reprisal,Republicans,Puritans,Cavaliers
entering_young_adulthood,Reprisal,Elizabethans,Compromisers,Cavaliers,Glorious
entering_childhood,Elizabethans,Parliamentarians,Transcendentals,Glorious,Enlighteners
turning_notes,"Intolerance and Martyrdom (Third Turning, 1542...","The Armada Crisis (Fourth Turning, 1569–1594) ...","The Era of Good Feelings (First Turning, 1794–...","Reaction and Restoration (Third Turning, 1649–...",The colonial Glorious Revolution (Fourth Turni...

In [37]:

from datetime import timedelta

def g(row_series):
    reign_begin = row_series['reign_begin']
    reign_end = row_series['reign_end']
    if str(reign_end) == 'NaT':
        reign_end = datetime.now()
    days_delta = int((reign_end - reign_begin).days / 2)
    year_mid = (reign_begin + timedelta(days=days_delta)).year
    mask_series = (turnings_df['turning_year_begin'] <= year_mid) & (turnings_df['turning_year_end'] >= year_mid)
    turning_name_list = turnings_df[mask_series].index.tolist()
    turning_number_list = turnings_df[mask_series]['turning_number'].tolist()
    if len(turning_name_list):
        turning_name = turning_name_list[0]
        turning_number = turning_number_list[0]
    else:
        turning_name = pd.np.nan
        turning_number = pd.np.nan
    row_series['turning_name'] = turning_name
    row_series['turning_number'] = turning_number
    
    return row_series

us_presidents_df = us_presidents_df.apply(g, axis=1)
s.store_objects(us_presidents_df=us_presidents_df)
us_presidents_df.tail(5)

Pickling to D:\Documents\GitHub\Strauss-Howe\saves\pickle\us_presidents_df.pickle

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end,turning_name,turning_number
President,,,,,,,,
Joseph R. Biden,1942-11-20,Scranton,Pennsylvania,46,2021-01-20,NaT,The Global Financial Crisis,4
Donald Trump,1946-06-14,Queens,New York,45,2017-01-20,2021-01-20,The Global Financial Crisis,4
George W. Bush,1946-07-06,New Haven,Connecticut,43,2001-01-20,2009-01-20,The Long Boom & Culture Wars,3
Bill Clinton,1946-08-19,Hope,Arkansas,42,1993-01-20,2001-01-20,The Long Boom & Culture Wars,3
Barack Obama,1961-08-04,Honolulu,Hawaii,44,2009-01-20,2017-01-20,The Global Financial Crisis,4

In [3]:

def conjunctify_nouns(noun_list):
    if len(noun_list) > 2:
        list_str = ', and '.join([', '.join(noun_list[:-1])] + [noun_list[-1]])
    elif len(noun_list) == 2:
        list_str = ' and '.join(noun_list)
    elif len(noun_list) == 1:
        list_str = noun_list[0]
    else:
        list_str = ''
    
    return list_str

In [39]:

mask_series = (us_presidents_df['turning_number'] == 4)
print(conjunctify_nouns(us_presidents_df[mask_series].index))
us_presidents_df[mask_series]

George Washington, Abraham Lincoln, Herbert Hoover, Franklin D. Roosevelt, Joseph R. Biden, Donald Trump, and Barack Obama

,date_of_birth,birthplace,state_of_birth,office_rank,reign_begin,reign_end,turning_name,turning_number
President,,,,,,,,
George Washington,1732-02-22,Westmoreland County,Virginia,1,1789-04-30,1797-03-04,American Revolution,4
Abraham Lincoln,1809-02-12,Hodgenville,Kentucky,16,1861-03-04,1865-04-15,The Civil War,4
Herbert Hoover,1874-08-10,West Branch,Iowa,31,1929-03-04,1933-03-04,The Great Depression & World War II,4
Franklin D. Roosevelt,1882-01-30,Hyde Park,New York,32,1933-03-04,1945-04-12,The Great Depression & World War II,4
Joseph R. Biden,1942-11-20,Scranton,Pennsylvania,46,2021-01-20,NaT,The Global Financial Crisis,4
Donald Trump,1946-06-14,Queens,New York,45,2017-01-20,2021-01-20,The Global Financial Crisis,4
Barack Obama,1961-08-04,Honolulu,Hawaii,44,2009-01-20,2017-01-20,The Global Financial Crisis,4

In [73]:

mask_series = (turnings_df['turning_number'] == 4)
turnings_df[mask_series]['turning_number']

turning_name
The War of the Roses                   4
The Armada Crisis                      4
The colonial Glorious Revolution       4
American Revolution                    4
The Civil War                          4
The Great Depression & World War II    4
The Global Financial Crisis            4
Name: turning_number, dtype: int64

In [4]:

mask_series = (turnings_df['turning_number'] == 4)
conjunctify_nouns(turnings_df[mask_series].index.tolist())

'The War of the Roses, The Armada Crisis, The colonial Glorious Revolution, American Revolution, The Civil War, The Great Depression & World War II, and The Global Financial Crisis'